body{
    font-size:19;
}
h1{
    padding-top:60px;
    padding-left: 100px;
    color:rgb(12, 12, 12);
    font-family:Arial, Helvetica, sans-serif;
    width:60%;
}
.lg{
    height:150px;
}
.gl{
    float:left;
    width:70%;
}
.gg{
    float:left;
    width:30%;
}
img{
    width:8cm;
    padding-top:1.5cm;
}

.mo{
    font-size: 28;
    padding-top:2cm;
    padding-left:2cm;
    height:900px;
}
.tl{
    float:left;
    width:30%;
    height:200px;
}
.tr{
    width:30%;
    height:200px;
    float:left;
}
.fa{
    padding: 10px;
    font-size: 36px;
    width: 40px;
    text-align: center;
    text-decoration: none;
     margin: 5px 2px;
}
.fa:hover{
    opacity: 0.8;
}

.fa-whatsapp{
    background: rgb(41, 196, 36);
    color:white;
    border-radius: 6px;
}
.fa-linkedin{
    background: rgb(65, 106, 219);
    color:white;
    border-radius: 60%;
}
.fa-youtube{
    background: rgb(223, 21, 21);
    color:white;
    border-radius: 20%;
}
.fa-instagram{
    background: linear-gradient(rgb(127, 12, 138),rgb(212, 77, 99),yellow);
    color:white;
    border-radius: 20%;
}
.fa-facebook{
    background: rgb(86, 86, 179);
    color:white;
    border-radius: 60%;
}
.fa-telegram{
    background: rgb(72, 163, 190);
    color:white;
    border-radius: 20%;
}
.ml{
    background-color: rgb(68, 8, 189);
    float:left;
    width:0.18%;
    height:10cm;
}
.mr{
    padding:20px;
    padding-right:50px;
    width:30%;
    float:left;
    
}
.mr m{
    color: rgb(106, 19, 236);
}
@media screen and (max-width:521px){

    .lg{
        height:6cm;
        font-size:12;
    }
    .gl{
        width:100%;
        height:3cm;

    }
    .gg{
        width:100%;
        height:3cm;
    }
    img{
        padding-left: 3cm;
        width:5cm;
    }
    .mo{
        height:50cm;
        width:100%;
    }
    .tl{
        float:bottom;
        width:100%;
        height:20%;
    }
    .tr{
       float:bottom; 
       width:100%;
        height:20%;
    }

}
